{% extends "empleado/index.html" %}
{% block section %}
<br>
<div class="container">
    <div class="row justify-content-center" style=" box-shadow: 0px 4px 5px #55575a;">
        <p>
        <h3 class="text-center">GESTIONAR PQR</h3>
        </p>
        <p style="display:flex; justify-content:flex-end; width:100%; padding:0;"></p>
        <table id="tblSolicitudes" align="center" class="table table-bordered">
            <thead class="bg-success text-white">
                <tr class="text-center">
                    <th width="20%">Tipo Solicitud</th>
                    <th width="15%">Fecha</th>
                    <th width="50%">Descripción</th>
                    <th width="20%">Anexo</th>
                    <th width="15%">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for s in solicitudes %}
                <tr id="fila" class="primeraFila">
                    <td id="tipSolicitud">{{s.tipoSolicitud.tipoSolicitud}}</td>
                    <td id="fecha">{{s.solFechaRegistro}}</td>
                    <td id="descripcion" class="text-right">{{s.solDescripcion}}</td>
                    <td align="center" id="anexo" class="text-right"><a id="verPDF" href="../../static/archivos/{{s.idSolicitud}}.pdf"  target="_blank"><i class="fas fa-file-pdf"></i></a></td>
                    <td id="pAccion" align="center">
                        <button class="btn btn-warning fas fa-edit editar" data-id="{{s.idSolicitud}}"></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <!-- MODAL PETICIONES QUEJAS Y RECLAMOS-->

        <form id="frmModalRespuesta" method="POST" action="" enctype="multipart/form-data">
            <div class="modal" id="modalRespuestaSol" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title h5Llenar" style="font-size: 25px;" id="Modaliniciar">Registro de PQR
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12 contaiener border" style=" box-shadow: 0px 4px 5px #55575a;">
                                <div class="container">
                                    <br>
                                    <div class="row justify-content-center">
                                        <h5 class="h5Llenar">Diligenciar la siguiente información</h5>
                                        <br><br>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-12 ">
                                            <label class="form-label m-1"><strong>Tipo de solicitud</strong></label>
                                            <div class="input-group mb-3 p-1">
                                                <input type="text" class="form-control" style="border: 1px solid #aaa;"
                                                    id="txtTipoSolicitud" name="txtTipoSolicitud" value="">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label m-1"><strong>Descripción Solicitud</strong></label>
                                            <div class="input-group mb-3 p-1">
                                                <input type="text" class="form-control" style="border: 1px solid #aaa;"
                                                    id="txtDescripcion" name="txtDescripcion" value="">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label m-1"><strong>Respuesta Solicitud</strong></label>
                                            <div class="input-group mb-3 p-1">
                                                <input type="email" class="form-control" style="border: 1px solid #aaa;"
                                                    placeholder="Respuesta a la solicitud" id="txtRespuesta"
                                                    name="txtRespuesta" value="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ">

                                        <div class="col-md-12 justify-content-center">
                                            <div class="justify-content-center aling-item-center text-center mt-3">
                                                <label for="formFile" class="form-label text-center">Seleccionar
                                                    archivo</label>
                                                <div id="divImagen"
                                                    class="justify-content-center aling-item-center text-center">
                                                    <label for="txtImagen">
                                                        <div class="dato justify-content-center aling-item-center text-center"
                                                            id="file-preview-zone">
                                                        </div>
                                                        <i id="data" class="fas fa-file-pdf"
                                                            style=" font-size:62px"></i>
                                                    </label>
                                                    <input type="file" name="txtImagen" id="txtImagen" class="file">
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-12">
                                <div style="text-align: center;">
                                    <button type="button" class="btn submit-btn" id="btnEnviaRespuesta"
                                        style="width: 30%;">Enviar Respuesta</button>
                                </div>
                            </div>
                            <div>
                                <input type="hidden" id="idSolicitud" name="idSolicitud" class="idSolicitud" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="../../static/js/solicitud.js" charset="utf-8"></script>
        </form>

        <style>
            .file {
                display: none;
            }
        </style>
        <!--FIN MODAL PETICIONES QUEJAS Y RECLAMOS-->


    </div>
</div>
{% endblock %}