<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
        integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />

    <link rel="stylesheet" href="../static/css/fondos.css" />
    <link rel="stylesheet" href="../static/css/iniciarSesion.css" />
    <link rel="stylesheet" href="../static/css/registrarse.css" />
    <script src="../static/js/mostrarPassword.js"></script>
    <link rel="stylesheet" href="../static/css/misEstilos.css" />
    <title>Alcaldía Buena Vida</title>
</head>

<body>
    <header style="border: 5%" id="top">
        <div class="row justify-content-center">
            <div class="col-md-10" style="box-shadow: 0px 10px 10px #55575a; padding: auto">
                <div class="head d-flex align-items-center">
                    <a class="navbar-brand" href="/"
                        style="color: #38d39f; font-weight: bold; font-size: 30px">BuenaVida</a>
                    <a class="nav-link" href=""><i class="fas fa-home fa-xs"></i>Inicio</a>
                    <a class="nav-link" href="/listarSolicitudes">
                        <i class="fas fa-list fa-xs"></i>PQR
                    </a>
                </div>
            </div>
        </div>
    </header>

    <section>{% block section %} {% endblock %}</section>

    <footer class="page-footer font-small">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12" style="box-shadow: 0px 4px 5px #55575a">
                    <h1></h1>
                    <div class="container">
                        <div class="row justify-content-center">
                            <!--Información -->
                            <div class="col-md-3">
                                <div class="row justify-content-center text-start">
                                    <div class="col-12">
                                        <h5 class="font-weight-bold">Información</h5>
                                    </div>
                                    <div class="col-12">
                                        <a href="sobrenosotros.frm.php" id="foot" target="_blank"
                                            style="text-decoration: none; color: black">Acerca de nosotros</a>
                                    </div>
                                    <div class="col-12">
                                        <a href="#" target="_blank" style="text-decoration: none; color: black">Como
                                            funciona</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Espacio -->
                            <hr class="clearfix w-100 d-md-none" />
                            <!--Terminos y condiciones -->
                            <div class="col-md-3">
                                <div class="row justify-content-center text-start">
                                    <!-- Content -->
                                    <div class="col-12">
                                        <h5 class="font-weight-bold">Términos</h5>
                                    </div>
                                    <div class="col-12">
                                        <a href="#" id="foot" target="_blank"
                                            style="text-decoration: none; color: black">Politica de Privaciadad</a>
                                    </div>
                                    <div class="col-12 text-nowrap bd-highlight">
                                        <a href="#" style="text-decoration: none; color: black">Términos y condiciones
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Espacio -->
                            <hr class="clearfix w-100 d-md-none" />

                            <div class="col-md-3">
                                <div class="row justify-content-center text-start">
                                    <ul class="list-unstyled mt-1">
                                        <li>
                                            <a href="#"><i class="fas fa-comments mr-3"></i>Contactenos</a>
                                        </li>
                                        <li>
                                            <a><i class="fas fa-home mr-3"></i>Alcaldía Buena
                                                Vida</a>
                                        </li>
                                        <li>
                                            <a href="#" style="font-size: 15px"
                                                style="text-decoration: none; color: #23c08c"><i
                                                    class="fas fa-envelope mr-3"></i>buenavida@gmail.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <a href="#top" style="color: #38d39f"><i class="fas fa-chevron-up"></i></a>
                        <!-- Copyright -->
                        <div class="card-footer" style="background: white">
                            <div class="row justify-content-center" style="opacity: 0.5">
                                Copyright © 2021 | Alcaldía BuenaVida - Todos los derechos
                                reservados
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <br />
</body>

</html>