{% extends "index.html" %}
{% block section %}



    <br>
    <div class="container border " >
        
        <h1></h1>    
        <div class="row justify-content-center" style=" box-shadow: 0px 4px 5px #55575a;">
      
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 98%;">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="100">
                        <img src="../static/recursos/index/carrusel_1.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="../static/recursos/index/carrusel_2.png" class="d-block w-100" alt="...">
                    </div>
                    <!-- <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                    </div> -->
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>
                <h1></h1>
            </div>
        </div>

        <div class="row borde justify-content-center align-items-center border " style=" box-shadow: 0px 4px 5px #55575a;" >
            <div class="col-md-12 col-xs-12 col-sm-12">
                <br><br>
                <h3 class="text-center">Alcaldía Buena Vida</h3> <br>
            </div>

            <div class=" col-md-8 col-xs-8 col-sm-8">
                <p>Somos una Alcaldía comprometida con el pueblo, es por ello que ofrecemos nuestro mayor esfuerzo
                    para en el servicio a la comunidad, respondiendo cada PQS de manera eficiente y eficaz.  
                </p>
                <br>
            </div>
            <br>
        </div>
    </div>
    <br>

{% endblock %}
