{% extends "index.html" %}
{% block section %}



    <br>
    <div class="container " >
        <div class="row justify-content-center"style=" box-shadow: 0px 4px 5px #55575a;">
            <div class="col-md-12 "style=" box-shadow: 0px 2px 3px #55575a;" >
                <br>
                <h2 class="h2Nombre">Consultar Respuesta de la PQR</h2>
                <!-- <h3 class="h3Nombre">Alcaldía BuenaVida</h3> -->
                <br>
            </div>
            <br>
        </div>

        <div class="row borde justify-content-center align-items-center border " style=" box-shadow: 0px 4px 5px #55575a;" >
            <div class="col-md-12 col-xs-12 col-sm-12">
                <br>
                <h3 class="text-center">Consultar solicitud</h3> <br>
            </div>

            <div class="  col-md-10 col-xs-10 col-sm-10">
                <div>
                    <p>Después de registrada una petición, queja o reclamo, se le generará un codigo identificador único, 
                        el cual podrá usar para consultar el estado de la solicitud y la respuesta de la misma en cualquier 
                        momento.
                    </p>
                </div>
            </div>
            <br>
            <!-- Consultar -->
            <div class="col-md-10 col-xs-10 col-sm-10">
                <br><br>
                <label for=""><strong>Digite el código de la solicitud </strong> </label>
                <br>
                <input type="text" id="txtCodigoRespuesta">
                <br><br>
                <!-- <a class="btn submit-btn" style="width: 22%" href="/consultaCodigo2">Consultar</a> -->
                <button type="button" class="btn submit-btn" style="width: 22%" id="btnConsultarRes">Consultar</button>
                <br> <br>
            </div>
        </div>
     </div>
     <br>




    <!-- MODAL PETICIONES QUEJAS Y RECLAMOS-->

    <form id="frmConsultarSolicitud" method="POST" action="">
        <div class="modal" id="modalSolicitud" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h5Llenar" style="font-size: 25px;" id="Modaliniciar" >Respuesta</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 contaiener border" style=" box-shadow: 0px 4px 5px #55575a;">
                            <div class="container">
                                <br>
                                <div class="row justify-content-center">
                                    <h5 class="h5Llenar">Información de la respuesta</h5>
                                    <br><br>
                                </div>

                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="form-label m-1"><strong>Fecha Respuesta</strong></label>
                                        <div class="input-group mb-3 p-1">
                                            <input type="text" class="form-control" style="border: 1px solid #aaa;"  id="txtFechaRespuesta"
                                                name="txtFechaRespuesta" >
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row " >
                                    <div class="col-md-6 ">
                                        <label class="form-label m-1"><strong>Tipo de solicitud</strong></label>
                                        <div class="input-group mb-3 p-1">
                                            <input type="text" class="form-control" style="border: 1px solid #aaa;"  id="txtTipoSol"
                                                name="txtTipoSol" >
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-10">
                                        <label class="form-label m-1"><strong>Descripción de la respuesta</strong> </label>
                                        <div class="input-group mb-3 p-1">
                                            <textarea name="txtDescriopcion" id="txtDescripcion" cols="100" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 justify-content-center">
                                        <div class="justify-content-center aling-item-center text-center mt-3">
                                            <label class="form-label text-center"><strong>Anexo</strong></label>
                                            <div id="pdf" class="justify-content-center aling-item-center text-center">
                                                <a class="btn btn-outline-primary" id="verPDF" href=""  target="_blank"><i class="fas fa-file-pdf"></i></a>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>



    <style>
      .file{
        display:none;
      }
    </style>
    <!--FIN MODAL PETICIONES QUEJAS Y RECLAMOS-->




{% endblock %}
