<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >

    <link rel="stylesheet" href="../static/css/fondos.css">
    <link rel="stylesheet" href="../static/css/registrarse.css">
    <script src="../static/js/mostrarPassword.js"></script>
    <title>Registrarse</title>
</head>
<body > -->

    
{% extends "index.html" %}
{% block section %}

    <br>
    <div class="container " >
        <div class="row justify-content-center"style=" box-shadow: 0px 4px 5px #55575a;">
            <div class="col-md-12 "style=" box-shadow: 0px 2px 3px #55575a;" >
                <br>
                <h2 class="h2Nombre">Formulario de Registro</h2>
                <!-- <h3 class="h3Nombre">Alcaldía BuenaVida</h3> -->
                <br>
            </div>
            <br>


            <div class="col-md-12 contaiener border" >
                <form action="" class="form-group" id="frmRegistro" method="POST">
                    <div class="container"> 
                        <br>
                        <div class="row justify-content-center ">
                            <h5 class="h5Llenar">Llena la siguiente información</h5>
                        </div>
                        <h1></h1>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3 p-1">
                                    <span class="input-group-text" id="basic-addon1"><i class="far fa-id-card"></i></span>
                                    <input type="number" style="border: 1px solid #aaa" class="form-control" placeholder="Numero de documento" id="txtCedula"
                                        name="txtCedula" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3 p-1">
                                    <span class="input-group-text" id="basic-addon1"><i class="far fa-id-card"></i></span>
                                    <input type="text" class="form-control" style="border: 1px solid #aaa;" placeholder="Nombres" id="txtNombre"
                                        name="txtNombre" >
                                </div>
                            </div>                           
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3 p-1">
                                    <span class="input-group-text" id="basic-addon1"><i class="far fa-id-card"></i></span>
                                    <input type="text" style="border: 1px solid #aaa" class="form-control" placeholder="Apellidos" id="txtApellido"
                                        name="txtApellido" >
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group mb-3 m-1 p-1">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                                    <input type="email" class="form-control" placeholder="Correo" id="txtCorreo" name="txtCorreo">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label m-1"> Genero</label>
                                <div class="input-group mb-3 p-1">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fas fa-transgender-alt"></i></span>
                                    <select class="form-select " aria-label=".form-select-lg example" id="txtGenero"
                                        name="txtGenero">
                                        <option selected>Seleccione un genero</option>
                                        <option value="M">Masculino</option>
                                        <option value="F">Femenino</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label m-1"> Oficina</label>
                                <div class="input-group mb-3 p-1">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-briefcase"></i></span>
                                    <select class="form-select " aria-label=".form-select-lg example" id="txtOficina"
                                        name="txtOficina">
                                        <option selected>Seleccione una oficina</option>
                                    </select>
                                </div>
                            </div>                            
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-3 p-1">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                    <input type="text" class="form-control" style="border: 1px solid #aaa;" placeholder="Usuario" id="txtUsuario"
                                        name="txtUsuario" >
                                </div>
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-3 p-1">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                                    <input type="password"  autocomplete="off" style="border: 1px solid #aaa;" class="form-control" placeholder="Contraseña" id="txtPassword"
                                        aria-label="E" name="txtPassword"  pattern="[A-Z]{1}[0-9]{2}" maxlength="50" aria-describedby="basic-addon1">
                                    <button id="show_password" class="btn" style="background: #38d39f;" type="button" onclick="mostrarPassword()">
                                        <span class="fa fa-eye-slash icons"></span> </button>
                                </div>
                            </div>
                            </div>
                    </div>
                    <div style="text-align: center;">
                        <button type="button" class="btn submit-btn" id="btncrear">Crear cuenta</button>
                    </div>
                    <h1></h1>
                    <div style="text-align: center;" >
                        <p>¿No tienes una cuenta? <a class="link" href="/mostrarIniciarSesion">Iniciar Sesión </a></p>
                    </div>
                </form>
            </div>
        </div>
        <br>    
    </div>

{% endblock %}
   
<!-- 
</body>
</html> -->