{% extends "index.html" %}
{% block section %}

  <script type="text/javascript">
    $(function(){
      $("#txtipoEnvio").change(function(){
          var estado = $("#txtipoEnvio").val();
          if(estado == 1){
            $("#txtNombre").prop("disabled", true);
            $("#txtCorreoSolicitud").prop("disabled", true);

          }
          else {
            $("#txtNombre").prop("disabled", false);
            $("#txtCorreoSolicitud").prop("disabled", false);


          }
        });
    });
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
  integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"> </script>

    <br>
    <div class="container " >
        <div class="row justify-content-center"style=" box-shadow: 0px 4px 5px #55575a;">
            <div class="col-md-12 "style=" box-shadow: 0px 2px 3px #55575a;" >
                <br>
                <h2 class="h2Nombre">Bienvenido al sistema de solicitudes, quejas y reclamos
                    de la Alcaldía Buena vida
                </h2>
                <!-- <h3 class="h3Nombre">Alcaldía BuenaVida</h3> -->
                <br>
            </div>
            <br>
        </div>

        <!-- Elegir PQR -->
        <div class="row borde justify-content-center align-items-center border " style=" box-shadow: 0px 4px 5px #55575a;" >
            <div class="col-md-12 col-xs-12 col-sm-12">
                <br>
                <h3 class="text-center">Puedes elegir como realizar la PQR</h3> <br>
            </div>

            <div class=" col-md-3 col-xs-3 col-sm-3">
                <div class="card d-flex align-items-center " style="width: 15rem; box-shadow: 0px 4px 5px #55575a;">
                    <img class="img-fluid" style="width:200px;" src="../static/recursos/index/pqrd.jpg"
                    alt="Responsive image">
                    <div class="card-body">
                    <button type="button" class="btn submit-btn" style="width: 100%" id="btnPRQ">PQR</button>
                    </div>
                </div>
            </div>
            <br>
            <!-- Como funciona -->
            <div class="col-md-12 col-xs-12 col-sm-12">
                <br><br>
                <h3 class="text-center">¿Cómo funciona?</h3>
            </div>
            <div class=" col-md-3 col-xs-3 col-sm-3">
                <div class="bg-transparent p-2 text-center " style="max-width:100%; height:auto;">
                    <img class="img-fluid " style="width:130px"
                        src="../static/recursos/index/elegir.jpg" alt="Responsive image">
                    <div class="card-body">
                        <h5 class="card-title text-center ">Elige una opción</h5>
                        <p class="card-text text-center ">Puedes realizar tu PQR de manera anónima o con tu correo</p>
                    </div>
                </div>
            </div>
            <div class=" col-md-3 col-xs-3 col-sm-3">
                <div class="bg-transparent p-2 text-center" style="max-width: 100%; height: auto;">
                    <img class="img-fluid " style="width:130px" src="../static/recursos/index/recibir.jpg"
                        alt="Responsive image">
                    <div class="card-body">
                        <h5 class="card-title text-center">Recibirás un código</h5>
                        <p class="card-text text-center">Al realizar la PQR se generará un código único que identificará la solicitud.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
                <div class="bg-transparent p-2 text-center" style="max-width: 100%; height: auto;">
                    <img class="img-fluid " style="width:130px"
                        src="../static/recursos/index/consultar.jpg" alt="Responsive image">
                    <div class="card-body">
                        <h5 class="card-title text-center">Consulta</h5>
                        <p class="card-text text-center">Con el código podrás consultar la respuesta a la PQR, o en su defencto te llegará al correo.</p>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <br>




    <!-- MODAL PETICIONES QUEJAS Y RECLAMOS-->

        <div class="modal" id="modalpqr" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h5Llenar" style="font-size: 25px;" id="Modaliniciar" >Registro de PQR</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <form id="frmModalSolicitud" method="POST"  enctype="multipart/form-data">

                        <div class="col-md-12 contaiener border" style=" box-shadow: 0px 4px 5px #55575a;">
                            <div class="container">
                                <br>
                                <div class="row justify-content-center">
                                <h5 class="h5Llenar">Diligenciar la siguiente información</h5>
                                <br><br>
                                </div>
                                <div class="row " >
                                  <div class="col-md-6 ">
                                      <label class="form-label m-1"><strong>Tipo de envio</strong></label>
                                      <div class="input-group mb-3 p-1">
                                          <span class="input-group-text" id="basic-addon1"><i class="fas fa-file"></i></span>
                                          <select class="form-select col-md-10" aria-label=".form-select-lg example" id="txtipoEnvio"
                                              name="txtipoEnvio">
                                              <option selected>Selecciona</option>
                                              <option value="1">Anonimo</option>
                                              <option value="2">Publico</option>
                                          </select>
                                      </div>
                                  </div>
                                    <div class="col-md-6 ">
                                        <label class="form-label m-1"><strong>Tipo de solicitud *</strong></label>
                                        <div class="input-group mb-3 p-1">
                                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-file"></i></span>
                                            <select class="form-select col-md-10" aria-label=".form-select-lg example" id="txtTipoSolicitud"
                                                name="txtTipoSolicitud">
                                                <option selected>Selecciona</option>
                                              {% for d in datos -%}
                                                <option value="{{d.idTipoSolicitud}}">{{d.tipoSolicitud}}</option>
                                              {% endfor%}

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <label class="form-label m-1"><strong>Oficina</strong></label>
                                        <div class="input-group mb-3 p-1">
                                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-file"></i></span>
                                            <select class="form-select col-md-10" aria-label=".form-select-lg example" id="txtOficina"
                                                name="txtOficina">
                                                <option selected>Selecciona</option>
                                              {% for f in ofi -%}
                                                <option value="{{f.idOficina}}">{{f.ofiNombre}}</option>
                                              {% endfor%}

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label m-1"><strong>Nombre completo</strong></label>
                                        <div class="input-group mb-3 p-1">
                                            <span class="input-group-text" id="basic-addon1"><i class="far fa-id-card"></i></span>
                                            <input type="text" class="form-control" style="border: 1px solid #aaa;" placeholder="Nombres" id="txtNombre"
                                                name="txtNombre" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="form-label m-1"><strong>Correo Electrónico</strong></label>
                                        <div class="input-group mb-3 p-1">
                                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                                            <input type="email" class="form-control" style="border: 1px solid #aaa;" placeholder="Correo" id="txtCorreoSolicitud"
                                                name="txtCorreoSolicitud" value ="" >
                                        </div>
                                    </div>
                                </div>

                                <div class="row " >

                                <div class="col-md-12 justify-content-center">
                                    <div class="justify-content-center aling-item-center text-center mt-3">
                                    <label class="form-label text-center">Seleccionar archivo</label>
                                          <div id="divImagen" class="justify-content-center aling-item-center text-center">
                                            <label for="txtdocu">
                                             <div class="dato justify-content-center aling-item-center text-center" id="file-preview-zone">
                                             </div>
                                                <i id="data" class="fas fa-file-pdf" style=" font-size:62px" ></i>
                                            </label>
                                            <input type="file" name="txtdocu" id="txtdocu" class="file"  >
                                            </div>
                                    </div>

                            </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="form-label m-1"><strong>Descripción de la silicitud *</strong> </label>
                                        <div class="input-group mb-3 p-1">
                                            <textarea name="txtDescripcion" id="txtDescripcion" cols="100" rows="4"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <div style="text-align: center;">
                                    <button type="button" class="btn submit-btn" id="btnEnviarSolicitud" style="width: 30%;">Enviar solicitud</button>
                            </div>
                        </div>
                        <div >
                            <input type="hidden" id="formaSolicitud" value="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../static/js/solicitud.js" charset="utf-8"></script>




    <style>
      .file{
        display:none;
      }
    </style>
    <!--FIN MODAL PETICIONES QUEJAS Y RECLAMOS-->




{% endblock %}
